.ipynb_checkpoints
.RData
.Rhistory
HMXPC13_DI_v2_5-14-14.csv
hxmitx_course_reference.csv
HxMx.csv
Learn R by Doing Jupyter Nobebook.ipynb
Learn R by Doing Jupyter Nobebook-checkpoint.ipynb
Learn R by Doing.rmd
Learn R by Doing.Rproj
Person Course Deidentification.pdf
Person Course Documentation.pdf