# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
Learn R by Doing.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# knitr and R markdown default cache directories
/*_cache/
/cache/
Learn R by Doing.rmd

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Data Files
# You can download data files here: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/26147
HMXPC13_DI_v2_5-14-14.csv
hxmitx_course_reference.csv
HxMx.csv
HxMx.rds
Person Course Deidentification.pdf
Person Course Documentation.pdf

# Jupyter Notebook Files
Learn R by Doing Jupyter Nobebook.ipynb
Learn R by Doing Jupyter Nobebook-checkpoint.ipynb
.ipynb_checkpoints

# Git Ignore File
.gitignore